* {
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
}

body {
  background: #eaebec;
}

.calculator {
  max-width: 400px;
  margin: 0 auto;
  border: 2px solid #111;
  border-radius: 5px;
}

.button {
  border: 2px solid #111;
  border-radius: 5px;
}

.num {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 10px;
  grid-auto-rows: minmax(100px, auto);
}
.num-1 {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 10px;
  /*   grid-auto-rows: minmax(100px, auto); */
}

.method {
  display: grid;
  grid-template-columns: 1fr;
  grid-gap: 10px;
  grid-auto-rows: minmax(100px, auto);
}

.container {
  display: grid;
  grid-template-columns: 3fr 1fr;
  grid-gap: 10px;
  grid-auto-rows: minmax(100px, auto);
}

.extra-span {
  grid-column: span 2;
}
